@model BasketViewModel

<form method="post">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">Basket</h3>
                    <p class="text-white-50 fw-semibold mb-0">@Model.Basket.TotalFactor.ToString("c0")</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-6 col-md-2 offset-lg-1 pb-1">
                    <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                        <small>Back to home</small>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 pb-4">
                <span class="badge">@Model.Basket.CreateDate</span>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            Unit Price
                        </td>
                        <td>
                            Quantity
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BasketItem item in Model.BasketItems)
                    {
                        <tr>
                            <td>@item.Product.Title</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function DiscountProccess() {

            $.ajax({
                type: "Post",
                url: "@Url.Action("CheckDiscount")",
                dataType: "json",
                data: {
                    totalPrice: $('#TotalFactor').val(),
                    discountCode: $('#DiscountCode').val()
                },
                success: function (result) {
                    console.log(result);
                    console.log(result.value.message);
                    console.log(result.value.finalPrice);
                    console.log(result.value.discountId);
                    $('#DiscountId').val(result.value.discountId);
                    $('#FinalFactor').val(result.value.finalPrice);
                    $('#FinalFactorText').text(result.value.finalPrice);
                },
                error: function (result) {
                    console.log(result.value.message);
                    $('#FinalFactor').text(result.value.message);
                }
            });

        }
    </script>
}
